.icon{
  display: inline-block;
  width: 10px;
  height: 10px;
}

.remove:after{
  content: 'x';
}

.edit:after{
  content: 'E';
}

.error{
  border: 1px solid red;
  background-color: lightcoral;
  color: red;
  font-size: 14px;
}
